html, body {
	margin: 0;
	padding: 0;
	background: green;
}

.deck {
	position: absolute;
	width: 10%;
	list-style: none;
	margin: 0;
	padding: 0;
}

#player {
	left: 30%;
}

#computer {
	right: 30%;
}

.card {
	position: absolute;
	top: 0;
	z-index: 1;
	transition: all 1s;
}

#player .card {
	left: 0;
}

#computer .card {
	right: 0;
}

.card > div {
	backface-visibility: hidden;
	transition: all 1s;
}

.card span {
	display: block;
	width: 70px;
	font-family: Arial;
	font-size: 11px;
	padding: 2px 10px;
}

.card .card-name {
	text-align: center;
	font-size: 15px;
	margin-bottom: 10px;
}

.card span:not(.card-name) {
	text-align: right;
	background: #ccf;
	margin: 5px 0;
	cursor: pointer;
}

.card span:not(.card-name):before {
	content: attr(class) ": ";
	float: left;
}

.card span:not(.card-name):hover {
	background: #bbf;
}

.card .front {
	position: relative;
	z-index: 2;
	background: #ccc;
	padding: 0.5em;
	border: 0.5em solid #aaa;
	visibility: hidden;
	transform: rotateY(180deg);
}

.card .cover {
	position: absolute;
	background: #c0c0c0;
	background: linear-gradient(to bottom, #c0c0c0, #efefef);;
	transform: rotateY(0);
	border: 1px solid #666;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.flipped {
	top: 100px;
	z-index: 2;
}

#player .flipped {
	left: 20px;
}

#computer .flipped {
	right: 20px;
}

.flipped .front {
	transform: rotateY(0);
	visibility: visible;
}

.flipped .cover {
	transform: rotateY(-180deg);
}