html, body {
	margin: 0;
	padding: 0;	
	height: 100%;
	min-height: 100%;
	background: green;
}

.display-none {display: none}

#wrapper {
	height: 100%;
	width: 800px;
	height: 600px;
	margin: 0 auto;
	position: relative;
	border: 1px solid black;
}

h1 {
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 50px 0;
}

.deck {
	position: absolute;
	width: 10%;
	list-style: none;
	width: 45px;
	height: 120px;
	margin: 0;
	padding: 0;
	bottom: 10%;
}

#player {
	left: 15%;
}

#computer {
	right: 15%;
}

.card {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	transition: all 1s;
	overflow: hidden;
}

#player .card {
	left: 0;
	transform: perspective(300px) rotateX(70deg) skewX(-20deg);
}

#computer .card {
	right: 0;
	transform: perspective(300px) rotateX(70deg) skewX(20deg);
}

.card > div {
	backface-visibility: hidden;
	transition: all 1s;
}

.card span {
	display: block;
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
}

.card .avatar {
	background-repeat: no-repeat;
	background-position: center top;
	height: 231px;
}

.card .card-name {
	text-align: center;
	font-size: 14px;
	margin: 10px 0;
	color: #fff;
	background: url("../img/sample-card-name.png") no-repeat center top;
	height: 23px;
	line-height: 20px;
}

.card .attribute {
	text-align: right;
	padding-right: 10px;
	background: #667e79;
	color: #ece8dd;
	margin: 2px 10px;
	position: relative;
	overflow: hidden;
}

#player .card .attribute {
	cursor: pointer;
}

.card .attribute:before {
	content: attr(data-attribute);
	float: left;
	text-align: left;
	text-indent: 10px;
	background: #c0d7c8;
	color: #667e79;
	width: 100px;
	border-right: 10px solid #ece8dd;
}

.card .attribute:after {
	content: '';
	display: block;
	position: absolute;
	top: -93px;
	right: 0;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 100px 100px 0;
	border-color: transparent #ece8dd transparent transparent;
}

#player .card .attribute:hover {
	background: #41504d;
}

#player .card .attribute:hover:before {
	background: #a6bbad;
}

.card .front {
	position: relative;
	z-index: 2;
	visibility: hidden;
	width: 100%;
	height: 100%;
	transform: rotateY(180deg);
}

.card .front-inner {
	border: 5px solid #ccc6bd;
	background: #ece8dd;
	height: 97%;
	border-radius: 10px;
}

.card .cover {
	position: absolute;
	background: #c0c0c0;
	background: linear-gradient(to bottom, #c0c0c0, #efefef);;
	transform: rotateY(0);
	border: 1px solid #666;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	border-radius: 5px;
}

.flipped {
	width: 180px;
	height: 370px;
	bottom: 65px;
	z-index: 2;
}

#player .flipped {
	left: 70px;
	transform: rotateX(0deg) skewX(0deg);
}

#computer .flipped {
	right: 70px;
	transform: rotateX(0deg) skewX(0deg);
}

.flipped .front {
	transform: rotateY(0);
	visibility: visible;
}

.flipped .cover {
	transform: rotateY(-180deg);
}

#start {
	background: none;
	border: none;
	cursor: pointer;
	color: #fff;
	margin: 0 auto;
	width: 100px;
	position: absolute;
	left: 50%;
	margin-left: -50px;
}

#game-mode-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	width: 300px;
	height: 200px;
	background-color: #00AC00; /*just kidding, this value is awful*/
	margin: -100px 0 0 -150px;
	box-shadow: 5px 5px;
}

.modal-option {
	cursor: pointer;
}